/* Add application styles & imports to this file! */
@import "~bootstrap/dist/css/bootstrap.css";


h1,h2 {text-align:center; color:grey;}
.col {float:left; width:22%; padding:1%;}
.col img {width:100%}

#div-cinema {width:473px; height: 298px;}
#img-cinema {width:473px; height: 298px;}



.card-title{font-size:2px}

@media screen and (max-width:480px) {
	h1 {color:rgb(0, 77, 128);}
    .col {float:none;width: 99%}
    #div-cinema {width:237px; height: 149px;}
    #img-cinema {width:237px; height: 149px;}
    #div-movie {width:159px; height: 247px;}
    #img-movie {width:149px; height: 237px;}
}

@media screen and (max-width:750px) and (min-width:481px) {
	h1 {color:rgb(0, 77, 128);}
    .col {width: 30%}
    #div-cinema {width:355px; height: 224px;}
    #img-cinema {width:355px; height: 224px;}
    #div-movie {width:234px; height: 355px;}
    #img-movie {width:224px; height: 355px;}
}